<header>
  <div class="header-container container-flex">
    <div class="site-title">
      <h1>{{ title }}</h1>
      <p class="sub-title">{{ subTitle }}</p>
    </div>
    <nav class="nav-list">
      <ul>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/feature" class="nav-link">Features</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/recipes" class="nav-link">Recipe</a></li>
        <li routerLinkActive="active" class="nav-item"><a routerLink="/shopping-list" class="nav-link">Shoppig</a></li>
        <li routerLinkActive="active" class="nav-item" *ngIf = "!isAuthenticated"><a routerLink="/auth" class="nav-link" >Authenticate</a></li>
        <li class="nav-item" *ngIf="isAuthenticated"><a class="nav-link"  (click)="onLogout()">Logout</a></li>

      </ul>
    </nav>
  </div>
</header>
