<div class="row">
  <div class="col-12">
    <img [src]="recipe.imgPath" alt="{{recipe.name}}" class="img-responsive" />
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="btn-group appDropdown">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-info" (click) = "addToShopping()">Send to Shopping list</a>
        <a type="button" class="btn   btn-warning" (click)="onEdit()">Edit Recipe</a>
        <a type="button" class="btn  btn-danger" (click) ="onDelete()">Delete</a>
        
      </div>


    </div>
  </div>
</div>



<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>


<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">

      <li class="list-group-item" *ngFor = "let ingredient of recipe.ingredients ">
        {{ingredient.name}} : {{ingredient.amount}}
      </li>

    </ul>
  </div>
</div>
