<div class="container row">
  <div class="col-10">
    <app-shopping-edit ></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a

        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of (ingredients | async).ingredients; let i = index"
        (click)="onEdit(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
        <button class="btn btn-danger" style="float: right;" (click) = "onDelete(i)">Delete</button>
      </a>

    </ul>
  </div>
</div>
